.background {
    background-color:red;
}
.gamebox {
    border: 2px solid black;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
}

.titleheader {
    border: 2px solid red;
    text-align: center;
    font-size: 24px;
}

.guessing-arena {
    text-align: center;
    font-size: 36px;
}

.footer {
    height: 200px;
}